*{
  background: #D9D9D9;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
    background: #D9D9D9;
    display: flex;
    justify-content: center;
  }
  
  .container .form {
    position: absolute;
    width: 450px;
    padding: 45px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    background: #76BAB2;
    margin-top: 32px;
  }
  
  .container .form .title {
    background: #76BAB2;
    font-size: 36px;
    text-align: center;
    letter-spacing: -2%;
    line-height: 44px;
    font-weight: 900;
    color: black;
  }
  
  .container .form .welcomeTxt {
    background: #76BAB2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
  }
  
  .container .form .inputContainer h3 {
    background: #76BAB2;
    display: block;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 0px;
    color: black;
  }
  .container .form .inputContainer input {
    display: block;
    width: 100%;
    min-height: 44px;
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #d0d5dd;
  }
  .container .form .inputContainer input::placeholder {
    color: #667085;
  }
  
  .container .form .submitBtn,
  .container .form .googleBtn,
  .container .form .facebookBtn {
    display: block;
    outline: none;
    border: none;
    padding: 10px 18px;
    height: 44px;
    background: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: black;
    cursor: pointer;
  }
  
  .container .form .googleBtn {
    background: #CA5656;
    border: 1px solid #CA5656;
    color: white;
  }
  .container .form .facebookBtn {
    background: #0D4C92;
    border: 1px solid #0D4C92;
    color: white;
  }
  .container .form .loginRedirect {
    background-color: #76BAB2;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
  }
  
  .container .form .loginRedirect .redirectLink {
    background-color: #76BAB2;
    font-weight: 600;
    color: black;
    text-decoration: underline;
  }
  