.NavbarItems{
    background-color: rgba(118, 186, 178, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    background-image: url(../../assets/Captura2.PNG);
    background-position: left;
    background-repeat: no-repeat;
}

.navbar-logo{
    margin-left: 120px;
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-menu{
    text-decoration: none;
    display: inline-block;
    grid-template-columns: repeat(3);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    
}

.nav-menu li{
    display: inline-block;

}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    display: inline-block;
}

.nav-links:hover{
    background-color: lightcyan;
    color: black;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}